<% if '1' == Setting.plugin_redmine_maintenance['maintenance'] %>
<div id="maintenance_notice">
  <div class="flash warning">
    <%= h(Setting.plugin_redmine_maintenance['title']) %>
  </div>
</div>

<div>
  <div class="flash warning">
    <%= h(Setting.plugin_redmine_maintenance['title']) %>
  </div>
</div>
<% end %>
